.container {
  align-items: center;
  background-color: var(--light-purple);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 1.5rem;
  text-align: center;
  width: 40vw;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input , .sendButton {
  width: 30vw;
}

.input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

