.container {
  align-items: center;
  background-color: var(--light-purple);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 40vh;
  text-align: center;
  width: 40vw;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input , .sendButton {
  border: 1px solid var(--green);
  border-radius: 3px;
  width: 30vw;
}

.input {
  background: white;
  box-sizing: border-box;
  color: var(--green);
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.input::placeholder {
  color: var(--green);
}

.sendButton {
  background-color: var(--green);
  color: white;
  padding: 0.5rem 1rem;
}

.sendButton:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.sendButton:hover {
  cursor: pointer;
  font-weight: 700;
}

