.mainContainer {
  height: 100%;
  width: 100%;
}

.formContainer {
  background-color: var(--light-grey);
  font-size: 0.85rem;
  padding: 1rem 2.5rem 0;
}

.formTitle {
  color: var(--green);
  font-size: 1.25rem;
}

.form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.fieldContainer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.input {
  margin-right: 0.75rem;
  padding: 0.25rem;
  width: 5rem;
}

.description {
  flex-grow: 1;
}

.description input {
  margin-right: 0;
  width: 100%;
}

.sendButton {
  margin: 1rem 0;
}

select {
  color: var(--green);
  font-size: 0.85rem;
  padding: 0.25rem;
}
