* {
  margin: 0;
  padding: 0;
}

:root {

  --vivid-purple: #14062b;

  --light-purple: #d0cbcb;

  --dark-purple: #100c29;

  --green: #185f16;

  --wallet-text: whitesmoke;
}

body {
  align-items: center;
  background-color: var(--vivid-purple);
  background-image: url('./images/background-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Epilogue, sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

