* {
  margin: 0;
  padding: 0;
}

:root {

  --vivid-purple: #14062b;

  --light-purple: #d0cbcb;

  --medium-purple: #6a5c81;

  --dark-purple: #100c29;

  --greysh-purple: #444955;

  --green: #185f16;

  --light-grey: whitesmoke;
}

html {
  height: 100vh;
}

body {
  align-items: center;
  background-color: var(--greysh-purple);
  background-image: url('./images/background-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Epilogue, sans-serif;
  width: 100vw;
}

input , select , button {
  border: 1px solid var(--green);
  border-radius: 3px;
}

label {
  margin-right: 0.5rem;
}

input {
  background: white;
  box-sizing: border-box;
  color: var(--green);
  font-size: 0.75rem;
  font-weight: 400;
}

input::placeholder {
  color: var(--green);
}

button {
  background-color: var(--green);
  color: white;
  padding: 0.5rem 1rem;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

button:hover {
  cursor: pointer;
  font-weight: 700;
}

